<div class="wordle-container">
  <div class="wordle-header">
    <mat-form-field>
      <mat-label>Letter Count (3 - 10)</mat-label>
      <input matInput type="number" [formControl]="letterCount">
    </mat-form-field>
    <button mat-button
            [disabled]="letterCount.invalid"
            (click)="getRandomWord(letterCount.value)">
      Generate Word
    </button>
  </div>

  <ng-container *ngIf="wordleFormGroup" [formGroup]="wordleFormGroup">
    <div class="word-container">
      <div class="word-row" appWordleDirective (emitEnter)="guessWord()">
        @for (letter of wordleFormGroup.controls.guessedLetters.controls; track letter.controls.letterValue; let index = $index) {
          <div class="letter-container">
            <input class="letter-input"
                   [maxLength]="1"
                   [formControl]="letter.controls.letterValue"
                   [ngClass]="{
                   'letter-status-absent' : letter.controls.letterState.value === LetterState.Absent,
                   'letter-status-present' : letter.controls.letterState.value === LetterState.Present,
                   'letter-status-correct' : letter.controls.letterState.value === LetterState.Correct
                   }">
          </div>
        }
      </div>

      <div class="button-container">
        <button mat-button
                [disabled]="wordleFormGroup.controls.guessedLetters.invalid"
                (click)="guessWord()">
          Guess
        </button>
        <button mat-button (click)="clearInputs()">Clear</button>
        <button mat-button (click)="navigateToDictionaryLink()">I'm Stumped</button>
      </div>
    </div>
  </ng-container>
</div>
