<mat-form-field>
  <mat-label>Letter Count</mat-label>
  <input matInput type="number" [formControl]="letterCount">
  <mat-hint>Number between 3 & 10</mat-hint>
</mat-form-field>
<button [disabled]="letterCount.invalid" mat-button (click)="getRandomWord(letterCount.value)">Generate Word</button>

<ng-container *ngIf="wordleFormGroup" [formGroup]="wordleFormGroup">
  <ng-container *ngIf="wordleFormGroup.controls.trueLetters?.length">
    <ng-container *ngFor="let letter of wordleFormGroup.controls.guessedLetters.controls; let index = index;">
      <div>
        <mat-form-field>
          <mat-label>Letter {{ index + 1 }}</mat-label>
          <input matInput type="text" [formControl]="letter">
          <mat-error>T</mat-error>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>

  <button mat-button [disabled]="wordleFormGroup.controls.guessedLetters.invalid" (click)="guessWord()">Guess</button>
  <button mat-button (click)="clear()">Clear</button>
</ng-container>
