<div class="wordle-container">
  <div class="wordle-header">
    <mat-form-field>
      <mat-label>Letter Count (3 - 10)</mat-label>
      <input matInput type="number" [formControl]="letterCount">
    </mat-form-field>
    <button mat-button
            [disabled]="letterCount.invalid"
            (click)="getRandomWord(letterCount.value)">
      Generate Word
    </button>
  </div>

  <ng-container *ngIf="wordleFormGroup" [formGroup]="wordleFormGroup">
    <div class="word-container">
      <div class="word-row" appWordleRowDirective (emitEnter)="guessWord()">
        @for (letter of wordleFormGroup.controls.guessedLetters.controls; track letter.controls.letterValue; let index = $index) {
          <div class="letter-container">
            <input class="letter-input" [@guessLetterAnimation]="letter.controls.letterState.value"
                   (input)="validateInput(letter)"
                   [maxLength]="1"
                   [formControl]="letter.controls.letterValue">
          </div>
        }
      </div>

      <div>Guesses left: {{ wordleFormGroup.controls.numberOfGuesses.value }}</div>
      <button *ngIf="wordleFormGroup.controls.numberOfGuesses.invalid" mat-button (click)="navigateToDictionaryLink()">Go to Definition</button>

      <div class="button-container">
        <button mat-button
                [disabled]="wordleFormGroup.invalid"
                (click)="guessWord()">
          Guess
        </button>
        <button mat-button [disabled]="wordleFormGroup.controls.guessedLetters.invalid" (click)="clearInputs('absent')">All</button>
        <button mat-button [disabled]="wordleFormGroup.controls.guessedLetters.invalid" (click)="clearInputs('present')">Leave Yellow/Green</button>
        <button mat-button [disabled]="wordleFormGroup.controls.guessedLetters.invalid" (click)="clearInputs('correct')">Leave Green</button>
      </div>
    </div>
  </ng-container>
</div>
